<!--The content below is only a placeholder and can be replaced.-->


<div class="jumbotron jumbotron-fluid"  class="bg-dark text-white" >
    <div ></div>
    <!-- <h1 class ="display-4">Fluid jumbotron</h1>  -->
    <div class="container " >
        
      <div class="row">
        <div class="col-md"  >
            <img id="icon" src="https://img.icons8.com/color/96/000000/medieval-crown.png">
            
        </div>
        <div class="col-md-6">
            <h2 class="justify-content-center" >Gamiroyal Furniture</h2>
            <ul  class="nav justify-content-center">
                <li  class="nav-item">
                  <a id ="bar" class="nav-link active" routerLink="/home" routerLinkActive="active" href="#">Home</a>
                </li>
                <li  class="nav-item dropdown">
                  <a id ="bar" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/sofa" routerLinkActive=""  href="#">Sofa</a>
                    <a class="dropdown-item" routerLink="/beds" routerLinkActive="" href="#">Bed</a>
                    <a class="dropdown-item" routerLink="/dining" routerLinkActive="" href="#">Dining</a>
                    <!-- <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a> -->
                  </div>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->
                <li  class="nav-item">
                  <a id ="bar" class="nav-link active" routerLink="/about" routerLinkActive="active" href="#" >About Us</a>
                </li>
              
                <li  class="nav-item">
                  <a id ="bar" class="nav-link active" routerLink="/contact" routerLinkActive="active" href="#" >Contact Us</a>
                </li>
              
              
              </ul>
              
           
          
          
        </div>
        
        <div class="col-md"   >
            <!-- <h6>Phone:<br>
              +234 806 860 8028</h6>
             -->
            
          
        </div>
      </div>
    </div>

    
</div>









<router-outlet></router-outlet>
