#zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  #zoom {
    
    transition: transform .2s;
   
  }

  #overlay{
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0,);
    background: rgba(0.1, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    /* width: 100%; */
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  #image:hover #overlay{
    opacity: 1;
  }

  #image {
    position: relative;
    
  }
  