
<div class="container " >   
<div class="row">
        <div id="image"  class="zoom" class="col-md" class="w-30 p-3" style="background-color: #eee;" >
              <img id="zoom" src="/assets/sofa.jpg" class="img-fluid img-thumbnail">
              <div id="overlay">sofa One</div>
        </div>
        <div id="image" class="col-md" class="row" class="w-30 p-3" style="background-color: #eee;">
              <img id="zoom" src="/assets/sofa4.jpg" class="img-fluid img-thumbnail">
              <div id="overlay">Sofa Two</div>
        </div>
</div>
<div class="row">
        <div id="image" class="col-md" class="w-30 p-3" style="background-color: #eee;" >
              <img id="zoom" src="/assets/sofa1.jpg" class="img-fluid img-thumbnail">
              <div id="overlay">Sofa Three</div>
        </div>
        <div id="image" class="col-md" class="row" class="w-30 p-3" style="background-color: #eee;">
              <img id="zoom"  src="/assets/sofa5.jpg" class="img-fluid img-thumbnail">
              <div id="overlay">Sofa Four</div>
        </div>
</div>
</div> 




